# frontend
**/*.bundle.js
**/*.js.map
**/coverage
**/node_modules/*
**/yarn-error
**/static/public/js/*.js
**/static/public/index.html
**/**/*.d.ts.map

# backend
**/*/quickshare.db
**/*/uploadings/

# build
dist
tmp
quickshare
